## Introduction to Python
Open an interactive python environment (python shell, ipython shell, or jupyter notebook), run the following commands and observe the output:

### Integer, float, string, and boolean types

In [1]:
i = 1
f = 1.1
s = "hello!"
t = True
print(f'type(i) : {type(i)}')
print(f'type(f) : {type(f)}')
print(f'type(s) : {type(s)}')
print(f'type(t) : {type(t)}')

type(i) : <class 'int'>
type(f) : <class 'float'>
type(s) : <class 'str'>
type(t) : <class 'bool'>

### Conversion between types (Casting)

In [2]:
print(f'str(i) : {str(i)}')
print(f'str(f) : {str(f)}')
print(f'int(f) : {int(f)}')
print(f'int("123") : {int("123")}')
print(f'float(i) : {float(i)}')
print(f'float("1.1") : {float("1.1")}')
print(f'int(t) : {int(t)}')
print(f'int(False) : {int(False)}')

str(i) : 1
str(f) : 1.1
int(f) : 1
int("123") : 123
float(i) : 1.0
float("1.1") : 1.1
int(t) : 1
int(False) : 0

### Basic operation

In [3]:
a = 3
b = 10
print(f'a*b : {a*b}')
print(f'a+b : {a+b}')
print(f'b**a : {b**a}')
print(f'b/a : {b/a}')
print(f'b//a : {b//a}')
print(f'b%a : {b%a}')

a*b : 30
a+b : 13
b**a : 1000
b/a : 3.3333333333333335
b//a : 3
b%a : 1

In [4]:
c = 4
c *= 3
print(f'c : {c}')

c : 12

In [5]:
print(f'a == b : {a == b}')
print(f'a != b : {a != b}')
print(f'a < b : {a < b}')
print(f'a > b : {a > b}')
print(f'a <= b : {a <= b}')
print(f'a >= b : {a >= b}')
print(f'not(a == b) : {not(a == b)}')
print(f'a < 5 or a > 5 : {a < 5 or a > 5}')
print(f'a < 5 and a > 5 : {a < 5 and a > 5}')

a == b : False
a != b : True
a < b : True
a > b : False
a <= b : True
a >= b : False
not(a == b) : True
a < 5 or a > 5 : True
a < 5 and a > 5 : False

### String operation

In [6]:
s = 'hello'
s2 = 'hello'
print(f's == s2 : {s == s2}')
print(f'len(s) : {len(s)}')

r = '123'
print(f's + r : {s + r}')

print(f's[0] : {s[0]}')
print(f's[1] : {s[1]}')
print(f's[-1] : {s[-1]}')
print(f's[1:4] : {s[1:4]}')
print(f's[1:] : {s[1:]}')
print(f's[:-1] : {s[:-1]}')
print(f's[::2] : {s[::2]}')

s == s2 : True
len(s) : 5
s + r : hello123
s[0] : h
s[1] : e
s[-1] : o
s[1:4] : ell
s[1:] : ello
s[:-1] : hell
s[::2] : hlo

### Tuples

In [7]:
t = (1,2,4)
p =(2, 'abc', 13.2)
print(f'p : {p}')
print(f'p[0] : {p[0]}')
print(f'p[-1] : {p[-1]}')
print(f'len(p) : {len(p)}')
p[0] = 100   # Pay attention to the error -> once it created, it cannot be changed!

p : (2, 'abc', 13.2)
p[0] : 2
p[-1] : 13.2
len(p) : 3

TypeError: 'tuple' object does not support item assignment

### List

In [8]:
l = [1, 2, 3, 4]
print(f'l : {l}')

l = l + [True]
print(f'l : {l}')

print(f'len(l) : {len(l)}')

l.append(5) # to the end
print(f'l : {l}')

l.insert(0,100) # to the first of it
print(l)

print(f'100 in l : {100 in l}')
print(f'101 in l : {101 in l}')

l.extend(['a', 'b', 'c']) # we can add a list of variables to our list
print(f'l : {l}')

l.append(['e', 'f', 'g']) # add the list not its elements!(just one variable)
print(f'l : {l}')

print(f'l.pop() : {l.pop()}')
print(f'l : {l}')
print(f'l.pop(5) : {l.pop(5)}')
print(f'l : {l}')

l : [1, 2, 3, 4]
l : [1, 2, 3, 4, True]
len(l) : 5
l : [1, 2, 3, 4, True, 5]
[100, 1, 2, 3, 4, True, 5]
100 in l : True
101 in l : False
l : [100, 1, 2, 3, 4, True, 5, 'a', 'b', 'c']
l : [100, 1, 2, 3, 4, True, 5, 'a', 'b', 'c', ['e', 'f', 'g']]
l.pop() : ['e', 'f', 'g']
l : [100, 1, 2, 3, 4, True, 5, 'a', 'b', 'c']
l.pop(5) : True
l : [100, 1, 2, 3, 4, 5, 'a', 'b', 'c']

In [9]:
l=[100,101,102,103,104,105,106,107,108,109,110,111,112]

print(f'l[0] : {l[0]}')
print(f'l[1] : {l[1]}')
print(f'l[-1] : {l[-1]}')
print(f'l[1:5] : {l[1:5]}')
print(f'l[::-1] : {l[::-1]}')

l.reverse()
print(f'l : {l}')

l.sort()
print(f'l : {l}')

l[0] : 100
l[1] : 101
l[-1] : 112
l[1:5] : [101, 102, 103, 104]
l[::-1] : [112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101, 100]
l : [112, 111, 110, 109, 108, 107, 106, 105, 104, 103, 102, 101, 100]
l : [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112]

In [10]:
l[1] = 0
print(f'l : {l}')

l : [100, 0, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112]

### The range function

In [11]:
print(f'range(10) : {range(10)}')
print(f'list(range(10)) : {list(range(10))}')
print(f'list(range(4,30,3)) : {list(range(4,30,3))}')

range(10) : range(0, 10)
list(range(10)) : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list(range(4,30,3)) : [4, 7, 10, 13, 16, 19, 22, 25, 28]

### Dictionaries

In [14]:
d = {1: 'hello', 8: 1.4}
print(f'd[1] : {d[1]}')
print(f'd[8] : {d[8]}')
print(f'd[2] : {d[2]}')    # Error -> there is not such a key!

d[1] : hello
d[8] : 1.4

KeyError: 2

In [15]:
d[2] = 444
print(f'd : {d}')
print(f'd[2] : {d[2]}')

d : {1: 'hello', 8: 1.4, 2: 444}
d[2] : 444

In [16]:
d['k'] = 99
print(f'd : {d}')

d : {1: 'hello', 8: 1.4, 2: 444, 'k': 99}

In [17]:
print(f'd.keys() : {d.keys()}')
print(f'd.values() : {d.values()}')
print(f'd.items() : {d.items()}')

d.keys() : dict_keys([1, 8, 2, 'k'])
d.values() : dict_values(['hello', 1.4, 444, 99])
d.items() : dict_items([(1, 'hello'), (8, 1.4), (2, 444), ('k', 99)])

In [18]:
print(f'd : {d}')
del d['k']
print(f'd : {d}')

d : {1: 'hello', 8: 1.4, 2: 444, 'k': 99}
d : {1: 'hello', 8: 1.4, 2: 444}

### Conditions

In [19]:
i = 12
b = 1
if i == 12:
    b = 2
    print(b)

2

In [20]:
i = 12
if i == 10:
    print('YES')
    print('i equals 10')
else:
    print('NO')
    print('i is not equal to 10')

NO
i is not equal to 10

In [21]:
i = 11
b = 'salam'
if i == 12:
    print('Twelve')
elif i == 11 and b == 'hi':
    print('Eleven-hi')
elif i > 10 and b == 'salam':
    print('SALAAAMM!!')
else:
    print('None')

SALAAAMM!!

### while loop

In [22]:
i = 10
while i > 0:
    print(i*i)
    i -= 2

100
64
36
16
4

### For loop

In [23]:
l = [10,20,30,40.2, 'salam']
for k in l:
    print(k)

10
20
30
40.2
salam

In [24]:
for k in range(2,20):
    print(k, k*k)

2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121
12 144
13 169
14 196
15 225
16 256
17 289
18 324
19 361

In [25]:
p = [1,2,3]
q = ['One','Two','Three']
for i in range(len(p)):
    print(p[i],q[i])

1 One
2 Two
3 Three

### Functions

In [26]:
def add(a,b):
    return a+b

print(add(2,3))
print(add(2,3.1))
print(add('abc', '123'))

5
5.1
abc123

In [27]:
def sum (l):
    s = 0
    for k in l:
        s += k
    return s

l = [1,2,4,8,16]
print(sum(l))
print(sum(range(10)))
print(sum(2))   # Error -> because 2 is not iterable!

31
45

TypeError: 'int' object is not iterable

#### Default argument values

In [28]:
def add(a,b=1):
    return a+b


print(add(20,4))
print(add(20))

24
21

### Using python modules

In [29]:
import math
print(math.cos(0), math.exp(0))
print(math.pi)
print(math.cos(math.pi))

1.0 1.0
3.141592653589793
-1.0

In [30]:
import math as m
print(m.tan(0))

0.0

In [31]:
from math import sin, cos, exp, pi
print(exp(1), sin(pi/2))

2.718281828459045 1.0

In [32]:
from math import *
print(pi)
print(e)
print(log(e))
print(cos(log(1)))
print(tan(pi/4))

3.141592653589793
2.718281828459045
1.0
1.0
0.9999999999999999

### More practice

#### zip method

In [33]:
p = [1,2,3]
q = ['One','Two','Three']

print(p)
print(q)
print(zip(p,q)) # is an iterator of tuples where the first item in each passed iterator is paired together,
                # and then the second item in each passed iterator are paired together...

for x,y in zip(p,q):
    print(x,y)

[1, 2, 3]
['One', 'Two', 'Three']
<zip object at 0x7c99744d9080>
1 One
2 Two
3 Three

#### enumerate method

In [34]:
l = ['a', 'b', 'c']
print(l)
print()

for i,k in enumerate(l):
    print(i,k)

['a', 'b', 'c']

0 a
1 b
2 c

#### Initialization of list

In [35]:
l = [10,20,30]
t = [2*k for k in l]
print(t)

[20, 40, 60]

In [36]:
t = [k for k in range(10)]
print(t)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
t = [k for k in range(10) if k % 2 == 0]
print(t)

[0, 2, 4, 6, 8]

#### Lambda

In [38]:
f = lambda x: 2*x+1
print(f(1))
print(f(2))

3
5